.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1050; /* Ensure it's above other elements */
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
