<div class="container">
  <div class="d-flex justify-content-between p-2">
    <h1 class="h3 titre">Les agences</h1>
    <button
      class="btn btn-primary"
      type="button"
      (click)="ajouterUtilisateur(0)"
      >
      Ajouter un utilisateur
    </button>
  </div>
  <hr />
  @if (utilisateurs$ | async; as utilisateurs) {
    <div class="row">
      @for (utilisateur of utilisateurs; track utilisateur) {
        <div class="col-md-2 mb-3 liste">
          <app-utilisateur-card
            [utilisateur]="utilisateur"
            (updateInfos)="updateInfos($event)"
            (editUser)="editUser($event)"
            (viewUser)="viewUser($event)"
          ></app-utilisateur-card>
        </div>
      }
      @if (utilisateurs.length == 0) {
        <div class="col">
          <h2 class="text-center">Aucun utilisateur n'a été trouvé dans la base</h2>
        </div>
      }
    </div>
  }
</div>
