.card-img-wrapper {
  position: relative;
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 580ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 580ms;
  transition-timing-function: ease-out;
}

.utilisateur-icons {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-img-wrapper:hover .utilisateur-icons {
  opacity: 1;
  bottom: 0;
}

.animate {
  animation: all 0.5s ease-in-out;
}
